NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/novabridge
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=7d
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
BOT_PORT=3001
BOT_SESSION_NAME=bot
BOT_SESSION_DIR=apps/bot/bot_sessions
BOT_QR_IMAGE=apps/bot/bot.qr.png
BOT_DATA_DIR=apps/bot/data
BOT_USE_PAIRING_CODE=false
BOT_PHONE_NUMBER=51999999999
COMPANY_NAME=SISCAMCHACCHA
COMPANY_WEBSITE=https://siscamchaccha-sistemas-de-segurida.webnode.page/
COMPANY_AGENT_PHONE=51999999999
COMPANY_HOURS=Lunes a sabado de 8:00 a.m. a 6:00 p.m.
COMPANY_CITY=Huancayo, Peru
COMPANY_IMAGE=https://i.imgur.com/WTXaDCk.jpg
INFO_IMAGE=https://i.imgur.com/rtEJ35t.jpg
VIGILANCIA_IMAGE=https://i.imgur.com/7wAK3p2.jpg
ALARMAS_IMAGE=https://i.imgur.com/8WdM6jE.jpg
ACCESOS_IMAGE=https://i.imgur.com/rhwdEIf.jpg
TELECOM_IMAGE=https://i.imgur.com/dkGT4Uk.jpg
REDES_IMAGE=https://i.imgur.com/EyZlHLb.jpg
INCENDIOS_IMAGE=https://i.imgur.com/0KU1CQv.jpg
WHATSAPP_SESSION_PATH=apps/api/bot_sessions
UPLOAD_DIR=apps/api/uploads
SEED_ADMIN_EMAIL=admin@novabridge.local
SEED_ADMIN_PASSWORD=Admin123*
